<footer class="site-footer">

<div class="footer-social">
  <a target="blank" href="https://www.facebook.com/KeithDavisJewellery/"><img src="/images/facebook_logo.png"/> </a>
  <a target="blank" href="https://twitter.com/keithdavisjewe1"><img src="/images/twitter_logo.png"/> </a>
  <a target="blank" href="https://www.instagram.com/keithdavisjewellery/?hl=en"><img src="/images/instagram_logo.png"/> </a>
  <a target="blank" href="https://www.yelp.ca/biz/davis-keith-jewellery-london"><img src="/images/yelp_logo.png"/> </a>
</div>

<div class="footer-nav">
<a class="page-link" href="/index.html"> Home </a>
<a class="page-link" href="/services.html"> Services </a>
<a class="page-link" href="/contact.html"> Contact Us </a>
<a class="page-link" href="/gallery.html"> Gallery </a>
<a class="page-link" href="/privacy-policy.html"> Privacy Policy </a>
<a class="page-link"  target="blank" href="https://www.google.com/maps/dir//Davis+Keith+Jewellery,+390+Springbank+Drive,+London,+ON+N6J+4Y9,+Canada/@42.9656014,-81.2869496,14.18z/data=!4m9!4m8!1m0!1m5!1m1!1s0x882ef1bb237d9be1:0x9324a95efbec3c30!2m2!1d-81.2819497!2d42.9683224!3e0?hl=en-US">  Map </a>
</div>

</footer>

<div class="footer-copyright">
390 Springbank Dr, London, ON N6J 4Y9 &nbsp • &nbsp Sitemap &nbsp • &nbsp &copy 2016 Keith Davis Jewellery. All rights reserved.
</div>
