<header>

<div class="site-nav">


    <a href="/index.html"> <img src="/images/Keith_Davis_Jewellery_logo.jpg"/> </a>
    <a class="page-link" href="/index.html"> Home </a>
    <a class="page-link" href="/services.html"> Services </a>
    <a class="page-link" href="/contact.html"> Contact Us </a>
    <a class="page-link" href="/gallery.html"> Gallery </a>
<div class="bbb-logo">
    <a id="bbblink" class="ruvtbam" href="http://www.bbb.org/western-ontario/business-reviews/jewelers-retail/keith-davis-jewellery-in-london-on-13398#bbbseal" title="Keith Davis Jewellery, Jewelers  Retail, London, ON" style="display: block;position: relative;overflow: hidden; width: 60px; height: 108px; margin: 0px; padding: 0px;"><img style="padding: 0px; border: none;" id="bbblinkimg" src="http://seal-london.bbb.org/logo/ruvtbam/keith-davis-jewellery-13398.png" width="120" height="108" alt="Keith Davis Jewellery, Jewelers  Retail, London, ON" /></a><script type="text/javascript">var bbbprotocol = ( ("https:" == document.location.protocol) ? "https://" : "http://" ); document.write(unescape("%3Cscript src='" + bbbprotocol + 'seal-london.bbb.org' + unescape('%2Flogo%2Fkeith-davis-jewellery-13398.js') + "' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
    <br>

    <p class="slogan"> "Where we treat <span style="text-decoration:underline">you</span> like gold!" </p>

</div>

</header>
