/**
 * Site header
 */

.site-header {
    padding: 10px;
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
    display: inline;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    padding: 10px 10px 0px 10px;
    padding-bottom:20px;
    float: left;
    font-size: 30px;
    font-family: cursive;
    color: $text-color;

    line-height: $base-line-height;
    /* border-bottom: 1px solid $grey-color-light; */
    min-height: 56px;
    position: relative;
    width:1250px;
    text-align: center;
    margin-left: -80px;
    margin-top: 20px;

    .slogan{

      float:left;
      text-align:center;
      margin-left:120px;
      font-size: 20px;

    }

    img{
    width: 200px;
    height: auto;
    border: none;
    }
    .menu-icon {
        display: none;
    }

    .page-link {
        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-left: 50px;
            margin-right: 50px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        /* border: 1px solid $grey-color-light; */
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
            color: $text-color-bold;
            text-decoration: none;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}


.main-page{

    padding: 100px 100px 100px 100px;
    position: relative;
    display: inline;
    width:1250px;
    text-color: blue;

    .jumbotron {
      height: 300px;
      width: 800px;
      background-image: url(/images/heart_necklace_crop.jpg);
      background-size: 100% 100%;
      background-position: left;
      background-repeat: no-repeat;
      background-color: #eceeef;
      position: relative;
      display: block;


        #button {
          a {
          color: black;
          background-color: white; /* Green */
          margin-top: 125px;
          margin-right:-175px;
          text-align: center;
          text-decoration: none;
          position: relative;
          float: right;
          align: right;
          width: 10%;
          font-size: 16px;
          border: 2px solid gold;
          border-radius: 3px;

        }
        &:hover {
          a{
          color: black;
          background-color: white;
        }
      }
  }
      #jumbo-text{
        position: relative;
        color: gold;
        font-family: cursive;
        float: right;
        width: 30%;
        align: right;
        margin-top: 25px;
        margin-right:50px;
      }
    }
}

.privacy-policy {

  padding: 10px 10px 0px 10px;
  padding-bottom:20px;
  float: left;
  font-size: 20px;
  color: $text-color;
  min-height: 56px;
  position: relative;
  width:1250px;
  text-align: left;
  margin-left: 30px;
  margin-top: 20px;

  h1{
    color: gold;
    font-size: 30px;
  }

}

@media (min-width: 576px) {
  .jumbotron {
    padding: 4rem 2rem;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

@media (min-width: 576px) {
  .container {
    width: 540px;
    max-width: 100%;
  }
}

@media (min-width: 768px) {
  .container {
    width: 720px;
    max-width: 100%;
  }
}

@media (min-width: 992px) {
  .container {
    width: 960px;
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1140px;
    max-width: 100%;
  }
}

.container-fluid {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.container-fluid::after {
  content: "";
  display: table;
  clear: both;
}

.contact-panel {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 500px;
  width: 1150px;
  padding: 50px;
  margin-left: 30px;
  margin-bottom: 10px;
  margin-top: 10px;



  .contact-left {
    position: relative;
    display: inline-block;
    float: left;
    width: 60%;

    .gal-img{
        padding:20px;
    }


  }

  .contact-right {
    position: relative;
    display: inline-block;
    float: right;
    width: 40%;

  }

}

.services-panel {
  position: relative;
  display: inline-block;
  overflow: hidden;
  height: 300px;
  width: 1150px;
  padding: 50px;
  margin-left: 70px;
  margin-bottom: 10px;
  margin-top: 10px;



  .services-left {
    position: relative;
    display: inline-block;
    float: left;
    width: 50%;

    .gal-img{
        padding:20px;
    }


  }

  .services-right {
    position: relative;
    display: inline-block;
    float: right;
    width: 50%;

  }

}



/**
 * Site footer
 */
.site-footer {
    background-color: black;
    border-top: 1px solid $grey-color-light;
    border-bottom: 1px solid $grey-color-light;
    text-color: gold;
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 1250px;
    padding-bottom: -5px;
    .footer-nav {
            padding-left: 30px;
            padding-top: 15px;
            padding-bottom: -5px;
            font-size: 20px;
            text-color: blue;
            min-height: 56px;
            width:900px;
            a{
              padding-left:35px;

            }
    }

    .footer-social {
      padding-top: 15px;
      padding-bottom: -5px;
      position: relative;
      float: right;
      width: 20%;
      align: right;

      img {
        width: 30px;
        height: 30px;
        border: none;
        display: inline;
        padding-right:10px;
      }

    }
    .page-link {
      color: gold;
    }

}

.footer-copyright {
  color: $grey-color-light;
  padding-left: 50px;
  padding-right:150px;
  padding-bottom: 2px;
  position: relative;
  width:1250px;
  text-align: center;

}
